
html {
  font-family: sans-serif;
}

h2 {
  font-size: 16px;
}

.a11y-label {
  margin: 0;
  text-align: right;
  font-size: 0.7rem;
  width: 98%;
}

body {
  margin: 10px;
  background: #f5f9fa;
}

textarea {
  height: 150px;
  background-color: #F4F7F8;
  border: none;
  border-left: 6px solid #558ABB;
  color: #4D4E53;
  width: 90%;
  max-width: 700px;
  padding: 10px 10px 0px;
}

.playable-buttons {
  text-align: right;
  width: 90%;
  max-width: 700px;
  padding: 5px 10px 5px 26px;
}

canvas {
  background: white;
  border: 1px solid #4D4E53;
  border-radius: 2px;
}